---
sshd:
  Port: 22
  Protocol: 2
  HostKey:
    - /etc/ssh/ssh_host_ed25519_key
    - /etc/ssh/ssh_host_rsa_key
  UsePrivilegeSeparation: yes
  StrictModes: yes
  PermitRootLogin: prohibit-password
  PubkeyAuthentication: yes
  AuthorizedKeysFile: "%h/.ssh/authorized_keys"
  IgnoreRhosts: yes
  PermitEmptyPasswords: no
  # https://blog.tankywoo.com/linux/2013/09/14/ssh-passwordauthentication-vs-challengeresponseauthentication.html
  ChallengeResponseAuthentication: no
  PasswordAuthentication: yes
  X11Forwarding: no
  PrintMotd: yes
  TCPKeepAlive: yes
  PrintLastLog: yes
  Banner: /etc/issue.net
  AcceptEnv: "LANG LC_*"
  Subsystem: "sftp /usr/lib/openssh/sftp-server"
  UsePAM: yes
  ClientAliveInterval: 120
  # No ECDH NIST, no 1024 bit keys, no SHA1
  KexAlgorithms: curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
  # No DES, no RC4, 128+ bits key size, 128+ bits block size, prefer Chacha over GCM
  Ciphers: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com
  # No MD5 and SHA1, 128+ bits tag size, 128+ bits key size
  MACs: hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

iptables:
  group_allowed_tcp_ports: [909]
  flush_all: True

server_common_group:
  dns_hostname: rusty
  users:
    sbog:
      name: sbog
      comment: "Administrator. Ask anything at sbog@sbog.ru."
      groups: sudo
      remove: no
      state: present
      # Gen pass by python -c 'import crypt; print(crypt.crypt("This is my Password", "$1$blackgolem$"))'
      password: "$1$blackgol$bIR4q4z6bvbLIleUt4jOK0"
      ssh_keys:
        - name: https://github.com/sorrowless.keys
          state: present
    deployer:
      name: deployer
      comment: "Deployment account. Ask anything at sbog@sbog.ru."
      groups: sudo
      remove: no
      state: present
      # Gen pass by python -c 'import crypt; print(crypt.crypt("This is my Password", "$1$blackgolem$"))'
      password: "$1$blackgol$MzbsNy8WGqrByXJAGJ3bF0"
      ssh_keys:
        - name: https://github.com/sorrowless.keys
          state: present

# Global Sensu role variables
static_data_store: "{{ playbook_dir }}/roles/sensu/files/data/static"
dynamic_data_store: "{{ playbook_dir }}/roles/sensu/files/data/store"
sensu_export_metrics: true
sensu_remote_plugins:
  - "cpu-checks"
  - "memory-checks"
  - "disk-checks"
  - "entropy-checks"
  - "load-checks"
  - "uptime-checks"
  - "network-checks"
  - "redis"
  - "systemd"
  - "dns"
uchiwa_dc_name: "DC"
rabbitmq_host: master.host  <<
redis_host: master.host     << Change all of these with your master IP
sensu_api_host: master.host <<
uchiwa_users:
  - username: admin
    password: admin
sensu_slack:
  webhook_url: "some hook"
  channel: "#alerts"
  bot_name: "Monitor"
sensu_telegram:
  bot_token: "token here"
  chat_id: "chat id number here"

# Nginx common settings
nginx_official_repo: True
nginx_official_repo_mainline: True
