#!/usr/bin/env -S ansible-playbook -e @vars/extra.yaml
#
# Playbook to work with TLS certificates on target nodes. Run
# it like usual executable script:
#
# > ./run-tls.yml
#
# For configuration vars look at role variables or host_vars/.example
# directory.
---
- name: Configure target servers
  hosts: tls
  #serial: 1
  remote_user: root

  roles:
    - { role: sorrowless.tls, tags: ['tls'] }
