*.retry
roles/*
group_vars/all.yml
inventory/testing.hosts
host_vars/test*.yml
host_vars/test_master.yml
host_vars/test_slave.yml
library
.vscode
daemon/__pycache__
logs/
mass_ansible_rename.sh
update_inventory.py
__pycache__
