---
extends: default

rules:
  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: false

  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 2
