[defaults]
host_key_checking = False
forks = 25
fact_caching = jsonfile
fact_caching_connection = /tmp
gathering = smart
callback_whitelist = profile_tasks, profile_roles
stdout_callback = skippy
display_skipped_hosts = no
retry_files_enabled = False
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
control_path = ~/.ssh/ansible-%%r@%%h:%%p
pipelining = True
