master ansible_host=SOME.HOST.HERE ansible_user=sbog ansible_become=yes
slave ansible_host=SOME.HOST.HERE ansible_user=sbog ansible_become=yes

[all:vars]
ansible_python_interpreter=/usr/bin/python3

[redis_servers]
master

[rabbitmq_servers]
master

[sensu_masters]
master

[graphite]
master

[grafana]
master

[common_checks]
master
slave

[graylogs]
[webservers]
[mysql_server]
[jenkins]
[dante]
[mysql]
[squids]
[mxes]
[backups]
[fluentd_servers]
[tls_servers]
[nodejs_servers]
[yarns]
