master ansible_host=SOME.HOST.HERE ansible_user=sbog ansible_become=yes
slave ansible_host=SOME.HOST.HERE ansible_user=sbog ansible_become=yes

[redis_servers]
master

[rabbitmq_servers]
master

[sensu_masters]
master

[graphite]
master

[grafana]
master

[common_checks]
master
slave

[graylogs]
[webservers]
[mysql_server]
[jenkins]
[dante]
[mysql]
[squids]
[mx]
[backups]
[fluentd]
