---
ansible_host: example.host   <--- MUST BE CHANGED
ansible_port: 22
ansible_user: sbog
ansible_become: true

# Hosts name
server_common_host:
  dns_hostname: "backup"

# Iptables rules
iptables:
  host_allowed_tcp_ports: [22]
  flush_all: true

# Rsnapshot vars
rsnapshot:
  master: true
  backups:
    - "backup_script	/usr/bin/ssh -p<ssh_port> backup@host 'echo backup'	temp_files_host/"
    - "backup	backup@host:/tmp/some_file	host/	ssh_args=-p <ssh_port>"
# Rsnapshot wants to have commands be separated *only* by tabs, so set
# noexpandtab to prevent converting in Vim
# vim: set noexpandtab:
