---
ansible_host: <some host name>  <--- must be changed
ansible_port: 22
ansible_user: deployer
ansible_become: true

# Hosts name
server_common_host:
  dns_hostname: "monitor"
  packages:
    - atop
    - sysstat
    - iotop
    - iftop
    - python
    - git
    # We need these for building telegram sensu plugin
    - gcc
    - make
    - "g++"

# Iptables rules
iptables:
  # Beware about just opening rmq ports w/o firewalling them
  host_allowed_tcp_ports: [22, 5671, 5672, 8080]
  flush_all: false

# LetsEncrypt vars
le_hostname: "{{ ansible_host }}"
le_stop_service: nginx

# TLS vars
#tls_host:
#  target_format: nginx
#  local_src_key: "key"
#  local_src_cert: "cert"

# Sensu-master-related vars
sensu_master: true
sensu_include_dashboard: true
rabbitmq_server: true
redis_server: true
# On master rabbitmq will connect to 127.0.0.1
rabbitmq_host: 127.0.0.1
redis_host: 127.0.0.1
sensu_api_host: 127.0.0.1
sensu_remote_plugins:
  - "cpu-checks"
  - "memory-checks"
  - "disk-checks"
  - "entropy-checks"
  - "load-checks"
  - "uptime-checks"
  - "network-checks"
  - "redis"
  - "slack"
  - "telegram"
  - "systemd"
  - "dns"

sensu_systemd:
  - "openvpn@openvpn.service"
  - nginx.service

sensu_check_tls:
  - name: "some-cert"
    path: "/etc/ssl_certs/some.host/fullchain.pem"
    warntime: 604800
    crittime: 172800

sensu_domain_expiration:
  domain: "example.com"
  check_interval: 60

sensu_check_dns:
  domain: "example.com"
  ips: "0.0.0.0, 0.0.0.1"
