---
ansible_host: <some host name>  <--- must be changed
ansible_port: 22
ansible_user: deployer
ansible_become: true

# Hosts name
server_common_host:
  dns_hostname: vpnserver

# Iptables rules
iptables:
  host_allowed_tcp_ports: [22, 1494]
  host_allowed_udp_ports: [1494]
  flush_all: False

# OpenVPN settings
real_server_name: "{{ ansible_host }}"
