#!/usr/bin/env ansible-playbook
#
# Playbook to update APT database on target nodes. Run
# it like usual executable script:
#
# > ./run-update.yml
#
# Only APT-compatible distributions are supported.
---
- name: Update and upgrade apt packages
  hosts: update
  remote_user: root
  become: true

  tasks:
    - name: Run upgrade
      apt:
        upgrade: dist
        update_cache: yes
        cache_valid_time: 86400 #One day
