#!/usr/bin/env -S ansible-playbook -e @vars/extra.yaml
#
# Playbook to install and configure wal-g
# Run it like usual executable script:
#
# > ./run-patroni.yml
#
# For configuration vars look at roles variables or host_vars/.example
# directory.
---
- name: Install and configure wal-g
  hosts: patroni_hosts
  remote_user: root
  become: yes

  roles:
    - sorrowless.patroni
